html, body {
  //margin: 20px;
}

.like-class {
  list-style: none;
  margin: 0;
  padding: 0;
}

.like-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-date {
  float: right;
}
.header-section {
  margin-top: 20px;
}
.ember-view {
  padding: 0;
  margin: 0;
}

.auth-section {
  vertical-align: middle;
  margin-top: 20px;
}

.btn-custom {
  vertical-align: middle;
  margin-top: 20px;
  float: right;
}

.social-area {
  margin-bottom: 8px;
}

.privacy-policy {
  padding-top: 8px;
}
