<div class="w-90 center">
  <div class="flex justify-between items-center">
    <h1>Facebook Page Unliker</h1>
    {{#if session.isAuthenticated}}
    <button {{action "logout"}} type="button">Logout</button>
    {{else}}
    <button {{action "login"}} type="button">Login User</button>
    {{/if}}
  </div>
</div>

{{outlet}}
