<div class="w-90 center">
  <div class="flex justify-between items-center">
    <h1>Facebook Page Unliker</h1>
    {{#if session.isAuthenticated}}
    <button {{action "logout"}} type="button">Logout</button>
    {{else}}
    <button {{action "login"}} type="button">Login User</button>
    {{/if}}
  </div>
</div>

<div class="w-90 center">
  <a href="https://twitter.com/share" class="mr2 twitter-share-button" data-url="http://pageunliker.com" data-text="Check out Page Unliker, an easy way for unliking old Facebook Pages by @kwuchu!">Tweet</a>

  <iframe class="social-button" src="//www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fpageunliker.com&amp;layout=button_count&amp;appId=434327266716112" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 100px; height: 20px;" allowTransparency="true"></iframe>
</div>
{{outlet}}
