<div class="w-90 center">
  <p class="w-50 lh-copy">
    Remember those embarrassing pages you like on Facebook in high school? Well, here's a quick and easy way to click through and unlike them, straight from the beginning. Easily cleanse those embarrassing pages from your Facebook before your friends find out!
  </p>
</div>
