<div class="w-90 center">
  <div class="w-50">
  <h2>Update July 10th, 2020</h2>
  <p class="lh-copy pb4 bb b--near-black">
    Unfortunately, Facebook has disabled the Facebook Page Unliker application
    because it said that the way we were using the API for likes was incorrect.
    I've petitioned multiple times for them to fix it, but they refuse and keep
    on denying my requests. So for now, Facebook Page Unliker will remain broken
    until I can figure out a workaround in the future. I apologize for any
    inconvenience for anybody who wanted to use this. :(
  </p>

  <p class="lh-copy mt4">
    Remember those embarrassing pages you like on Facebook in high school? Well, here's a quick and easy way to click through and unlike them, straight from the beginning. Easily cleanse those embarrassing pages from your Facebook before your friends find out!
  </p>
  </div>
</div>
