<div class="pa4">
  <h1 class="mt4">Liked Pages</h1>

  <p>Here are a list of your liked pages.</p>

  {{page-likes pagedContent=pagedContent}}
  
  <button onclick={{action "loadNext"}}>Load More</button>

</div>
