<h4>You have liked <span class="bolded">{{content.length}} pages.</span></h4>

{{!-- Total Number of Liked Pages: {{content.length}}
 --}}


{{view 'container' id="likes-section" elementId="container-view"}}


{{outlet}}
