<div class="w-90 center">
  <h1>Your Likes</h1>
  <p>You've liked {{model.length}} pages</p>

  {{user-likes likes=pagedContent}}
  {{page-numbers content=pagedContent showFL=true}}
  {{outlet}}
</div>
